@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #c5ebd6;
    text-align: justify;
}

div#proposta-comercial {
    
}

header {
    background-color: rgb(34, 107, 56);
    border-bottom: 10px;
    padding: 10px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

header a img{
    width: 150px;

}

main {
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.cliente {
    background-color: #b6d7a8ff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

div.pacotes {
    background-color: #b6d7a8ff;
    min-width: 300px;
    max-width: 1500px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.licencas {
    background-color: #eeeeeeff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

section.bronze {
    background-color: white;
    min-width: 50px;
    max-width: 200px;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

p.bron {
    background-color: #167b37;
    min-width: 50px;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.6em;
    color: white;
}
section.bronze p {
    font-size: 0.8em;
}

section.bronze > p.valor {
    font-weight: bold;
    font-size: 1.6em;
}

td {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
}

div.turbine {
    background-color: #eeeeeeff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

table.turbine-add {
    margin: auto;
    margin-bottom: 10px;
}

td.tubpct {
    background-color: #6aa84fff;
    border-radius: 30px 0px 30px 0px;
    min-width: 198px;
    padding-bottom: 20px;
}

img.ind2 {
        float: left;
        border: transparent thin solid;
        padding: 2px;
        margin: 0px 5px 5px 0;
        max-width: 186px;
}

p.tubvl {
    font-weight: bold;
    font-size: 1em;
}

p.tubdesc {
    font-size: 0.5em;
    text-align: right;
    margin-top: -15px;
}

.ind {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

.vend {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

.dash {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

div.implantacao {
    background-color: rgb(185, 214, 194);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.mensal {
    background-color: #eeeeeeff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 60px;
    margin-bottom: 10px;
}



p.enviar {
    text-align: center;
}

input {
    margin: auto;
    text-align: justify;
}