@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #d9ead3ff;
    text-align: justify;
}

div#proposta-comercial {
    
}

header {
    min-height: 100px;
    padding-top: 30px;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 0px;
    padding: 30px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    font-size: 3em;
    margin-left: 28%;
    padding: 10px;
}

header a img{
    width: 200px;
    margin-left: 15%;
    display: inline;

}

main {
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.cliente {
    background-color: #b6d7a8ff;
    min-width: 150px;
    max-width: 900px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

div.pacotes {
    background-color: #b6d7a8ff;
    min-width: 150px;
    max-width: 1500px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.licencas {
    background-color: #eeeeeeff;
    min-width: 150px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

section.bronze {
    background-color: white;
    min-width: 50px;
    max-width: 200px;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

p.bron {
    background-color: #167b37;
    min-width: 100px;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    color: white;
}
section.bronze p {
    font-size: 0.7em;
    min-width: 120px;
    max-width: 300px;
}

section.bronze > p.valor {
    font-weight: bold;
    font-size: 1.6em;
    min-width: 120px;
    max-width: 300px;
}

td {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    padding: 10px;
    min-width: 100px;
    max-width: 400px;
    
}

div.turbine {
    background-color: #eeeeeeff;
    min-width: 100px;
    max-width: 400px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 25%;
}

table.turbine-add {
    margin: auto;
    margin-bottom: 10px;
}

td.tubpct {
    background-color: #6aa84fff;
    border-radius: 30px 0px 30px 0px;
    min-width: 198px;
    padding-bottom: 20px;
}

div#add {
    overflow-x: auto;
}

div#propostas {
    overflow-x: auto;
}

img.ind2 {
    float: left;
    border: transparent thin solid;
    padding: 2px;
    margin: 0px 5px 5px 0;
    max-width: 186px;
}

p.tubvl {
    font-weight: bold;
    font-size: 1em;
}

p.tubdesc {
    font-size: 0.5em;
    text-align: right;
    margin-top: -15px;
}

.ind {
    text-align: center;
    font-size: 1.5em;
}

.vend {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

.dash {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
}

div.mensal {
    background-color: #eeeeeeff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p.mensali {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    display: inline;
    float: left;
    font-size: 2em;
    margin-left: 10%;
}

div.mensal > p.iobs {
    text-align: right;
}

section#imp {
    background-color: #b6d7a8ff;
    min-width: 300px;
    max-width: 1500px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

div.implantacao {
    background-color: #eeeeeeff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.desc > p.setup {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-top: -10px;
}

div.desc > p.extra1 {
    background-color: #eeeeeeff;
    min-width: 90px;
    max-width: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 73%;
}

div.desc > p.extra2 {
    text-align: center;
    margin-left: 62%;
    margin-top: -20px;
    padding-bottom: 20px;
}

div.vls {
    background-color: #eeeeeeff;
    min-width: 90px;
    max-width: 150px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 15%;
}

div.implan {
    background-color: #eeeeeeff;
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

p.vlimp {
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    display: inline;
    float: left;
    font-size: 2em;
    margin-left: 10%;
    color: #274e13;
}

div.implan > p.iobsimp {
    text-align: right;
}

footer {
    margin: auto;
}

p.enviar {
    text-align: center;
}