@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:  #c5ebd6;
    text-align: justify;
}

div#proposta-comercial {
    
}

header {
    background-color: rgb(34, 107, 56);
    border-bottom: 10px;
    padding: 10px;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

header a img{
    width: 150px;

}

main {
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.cliente {
    background-color: rgb(115, 247, 155);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

div.pacotes {
    background-color: rgb(185, 214, 194);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

div.licencas {
    background-color: rgb(115, 247, 155);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div#propostas {
    

}
section.bronze {
    background-color: white;
    min-width: 50px;
    max-width: 200px;
    height: 200px;
    padding-bottom: 10px;
    border-radius: 10px;
}

p.bron {
    background-color: green;
    min-width: 50px;
    max-width: 200px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

input {
    margin: auto;
    text-align: justify;
}

td {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    
}

div.turbine {
    background-color: rgb(115, 247, 155);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

div.implantacao {
    background-color: rgb(185, 214, 194);
    min-width: 300px;
    max-width: 900px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

p.enviar {
    text-align: center;
}